<div class ="d-flex flex-column justify-content-center align-item-center">
<%=image_tag 'User profile.png',class: "img-thumbnail rounded-circle",style:"width:3.5rem;"%>
<small style="max-width:3.5rem;">username</small>
</div>