<div class="container d-flex justify-content-center align-items-center", style="min-height :20rem">
  <%if user.profile_pic.attached?%>
    <%=image_tag user.profile_pic,class: "img-thumbnail rounded-circle",style:"width:8rem; height:8rem"%>
      <%else%>
      <%=image_tag 'User profile.png',class: "img-thumbnail rounded-circle",style:"width:8rem; height:8rem"%>
      <%end%>

        <div>
        </div>
</div>